enrich {
  streams {
    in {
      raw = raw
    }
    out {
      enriched = enriched
      bad = bad
      partitionKey = event_id
    }
    sourceSink {
      enabled = nsq
      rawChannel = enrich
      host = nsqd
      port = 4150
      lookupHost = nsqlookupd
      lookupPort = 4161

      backoffPolicy {
        minBackoff = 200
        maxBackoff = 1000
      }
    }
    buffer {
      byteLimit = 100
      recordLimit = 1 # emit every record for testing purposes - NOT suitable for prod
      timeLimit = 100
    }
    appName = "enrich"
  }
}